<!DOCTYPE html>
<html>
<head>
	<title>Kantanotes | {% block title %}{% endblock %}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-inverse">
      <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'notes:index' %}">Kantanotes</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

	<div id="categories" class="col-md-3">

        <div class="list-group">
             {% for cat in categorieslist %}

                <div class="list-group-item" style="height:40px;">
                    <div class="col-md-9">                
                      <a type="button"  href="{% url 'notes:displayNotes' cat.id %}" >{{  cat.categoryName}}  {{ cat.description }}</a>
                    </div>
                    <div class="col-md-3">
                      <a href="{% url 'notes:deleteCategory' cat.id %}"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a>
                    </div>
                </div>

             {% endfor %}
        </div>


	</div>

	<div id="content" class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-body">
            {% if errorMessage %}
                <div class="alert alert-warning">
                    <strong>Warning!</strong> {{ errorMessage }}
                </div>
            {% else %}

            {% block content %}
            {% endblock %}
            {% endif %}
            </div>

        </div>
	</div>

</body>
</html>